.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #131313;
}
.child-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding: 3rem 5rem;
  @media screen and (max-width: 760px) {
    grid-template-columns: 1fr;
  }
}
.left-container {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60vw;
  height:80vh
}
h1 {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  position: absolute;
}
h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
h1:nth-child(2) {
  color: #fff;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
.title-container {
  margin-bottom: 30px;
}
.type-writer {
  margin: 2rem 0;
  font-size: 3rem;
  line-height: 1.1;
  width: 700px;
}
.btn {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: 2px solid #fff;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: #fff;
  margin-right: 2rem;
}
.btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}
ul li {
  list-style: none;
  color: #fc6060;
  position: relative;
  top: 0;
  animation: slide 4.5s steps(3) infinite;
}
.dynamic-text {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  overflow: hidden;
  line-height: 60px;
  height: 60px;
  /*background: red;*/
}
@keyframes slide {
  100% {
    top: -180px;
  }
}
ul li span {
  position: relative;
}
ul li span::after {
  content: "";
  background: #131313;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #fc6060;
  animation: typing 1.4999s steps(10) infinite;
  transition: ease-in-out;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -25px 0 25px;
  }
}

.image-container {
  position: absolute;
  padding-right:400px;

}
