.leaderboard {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 18vw;
    height: 100vh;
    background-color: none;
    border-radius: 10px;
    border-left: 2px solid white;
  }

  .leaderBoardHeading{
    font-size: 24px;
    color: red !important;
    padding-top: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .leaderBoardList{
      margin-left:1vw ;
      padding-top: 100px;
      padding-left: 1vw;
  }