* {
    padding: 0;
    border: 0;
    margin: 0;
}

.App {
    text-align: center;
    font-family: Arial;
    color: white;
}

.topright {
    position: absolute;
    top: 0px;
    right: 0px;
    align-items: right;
}


.container {

    width: auto;
    padding: 10vh 20vw;
    /* width: 90vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    margin-top: 100px;
    left: 50%;
    padding-left: 10%; */

}

.selected {
    color: white;
    padding: 6px;
    border: 5px solid white;
    margin: 4px 2px;
    border-style: groove;
    border-radius: 8px;
    text-align: justify;
    text-size-adjust: 6px;
    box-sizing: border-box;

}

.options {
    padding: 8px;
    border: 2px solid white;
    cursor: pointer;
    width: 100%;

    color: white;
    font-weight: bold;

}

li.options:hover {
    background-color: teal;
}

ol {
    /* list-style-type: none; */
    color: white;
}

ol li {
    margin: 20px;
}

li.options::marker {
    color: white;
}

.img1 {
    background-image: url("./images/img1.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vh;
    width: 60vh;
}

label {
    font-size: larger;

}

a{
    color: white;
    text-decoration-style: none;
}

.divX{
    width: 100%;
    display: block;
}

.inputQuiz {
    padding: 2vh;
    font-size: 20px;
    width: 30vh;
    color: white;
    border: 2px solid goldenrod;
    background-color: transparent;
    border-radius: 8px;
}


li {}

li:hover .selected {
    background-color: white;
}



.img2 {
    background-image: url("./images/img2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vh;
    width: 60vh;
}

.img3 {
    background-image: url("./images/img3.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vh;
    width: 60vh;
}

.img4 {
    background-image: url("./images/img4.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vh;
    width: 50vw;
}

.img5 {
    background-image: url("./images/img5.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
    width: 40vw;
}
.img6 {
    background-image: url("./images/img6.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vh;

}
.img7 {
    background-image: url("./images/img7.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vh;

}
.img8 {
    background-image: url("./images/img8.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60vw;
    height:50vh;

}

.imgkey {
    background-image: url("./images/img13.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60vw;
    height: 50vh;

}
.img9 {
    background-image: url("./images/img9.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vh;

}
.img10 {
    background-image: url("./images/img10.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60vw;
    height:50vh;

}

.qzItemImg {
    width: 100%;
    height: 100%;
}

.qzItemImgDiv {
    height: 25vh;
    width: 100%;
}

.imgstyle {
    width: 100%;
    text-align: center;
}



.quiz-container {
    background-color: black;
    background-image: url("./images/backg.jpg");
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14PX;
    /*background-color: teal; */
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
}

.headingQuiz:nth-child(1) {
    color: #008F11;
    -webkit-text-stroke: 0px;
}

.quizover-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: #008F11;
    font-family: 'Gameplay', sans-serif;
    letter-spacing: 5px;
}
.congrats {
 padding-left: 40vh;
display: flex;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: green;
    font-family: 'Gameplay', sans-serif;
    letter-spacing: 5px;

}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }


.submitbutton {
    background-color: crimson;
    border: none;
    color: white;
    float: left;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration-thickness: 3px;
    font-size: 18px;
    margin: 20px 2px;
    padding: 10px 36px 10px 36px;
    cursor: pointer;
    border-radius: 8px;
}

.downloadbutton {
    background-color: teal;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 20px 2px;
    padding: 10px 36px 10px 36px;
    cursor: pointer;
    border-radius: 8px;
}


.button {
    background-color: none;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration-thickness: 3px;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    float: right;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Green */
  .success {
    border-color: #04AA6D;
    color: green;
  }