.modal {
  width: clamp(50%, 700px, 90%);
  height: 510px;
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, #ee9ca7, #ffdde1);
}
.rules {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.rule-container {
  width: 80%;
  font-size: 18px;
  font-weight: bold;
}
.modal-close-btn {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: black;
  margin-right: 2rem;
}
.modal-close-btn:hover {
  background-color: white;
  border: 2px solid #fff;
  color: black;
  transition: 0.5s ease-in-out;
}
